
<div id="availableTimezonesPartial">
    @{
        Html.RenderAction("AvailableTimezones", "Home");
    }
</div>

<div id="requestedTimezonePartial">
    @Html.Partial("RequestedTimezone")
</div>

<div id="allTimesPartial">
    @Html.Partial("AllTimes")
</div>