@model Clockwork.Web.Models.AllTimesViewModel

@section Index {

    <h3 id="getTimeHeader">Choose a Timezone:</h3>

    @Html.DropDownListFor(m => m.SelectedTimezoneId, Model.Timezones, "--Select a Timezone--", new { id = "zone" })
    <br />
    <button type="button" value="Get Time" id="myButton" onclick="ShowCurrentTime(); AllEntries()">Get Time</button>

    <div id="currentTimeDiv">
        <p id="currentTimeText"></p>
    </div>

    <div id="timezoneDiv">
    </div>

    <input type="button" id="first" onclick="firstPage()" value="first" />
    <input type="button" id="next" onclick="nextPage()" value="next" />
    <input type="button" id="previous" onclick="previousPage()" value="previous" />
    <input type="button" id="last" onclick="lastPage()" value="last" />

    <div id="list"></div>
    </div>
}