@model Clockwork.Web.Models.AllTimesViewModel

<div id="currentTimeDiv" style="display: none">
    @*<p id="currentTimeText">The time in @Html.DisplayFor(m => m.CurrentTimeRequest.TimeZone) is @Html.DisplayFor(m => m.CurrentTimeRequest.Time)</p>*@
    <p id="currentTimeText"></p>
</div>
