@model Clockwork.Web.Models.AllTimesViewModel

<div id="currentTimePartial">
    @*<p>The time in @Html.DisplayFor(m => m.CurrentTimeRequest.TimeZone) is @Html.DisplayFor(m => m.CurrentTimeRequest.Time)</p>*@
</div>
@*<p>The time in @ViewBag.Timezone is @ViewBag.Time</p>*@
