html {
    --white: #fff;
    --black: #333;
}

html, body {
    height: 100%;
    margin: 0 5%;
}

body {
    background-color: whitesmoke;
    min-height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr auto;
}

.navbar {
    color: var(--white);
    background-color: var(--black);
    text-align: center;
}

.main {
    background-color: gainsboro;
    padding: 2rem 0 2rem 2rem;
}

#currentTimeDiv {
    display: none;
}

#timezoneDiv {
    margin-top: 2rem;
}

    #timezoneDiv > ul {
        list-style-type: none;
    }

span {
    font-weight: bold;
}

footer {
    padding: 0.15rem;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}
