<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title AWH - Clockwork</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body onload="AllEntries()">
    <nav class="navbar">
        <h3>
            AWH Clockwork Project !
        </h3>
    </nav>
    <div class="main">
        @RenderSection("Index", required: false)
        @RenderBody()
    </div>
    <div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Caleb Sharp - AWH Clockwork Project</p>
        </footer>
    </div>
</body>
</html>