<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title AWH - Clockwork</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <script type="text/javascript" src="~/Scripts/index.js"></script>
</head>
<body>
    <nav class="navbar">
        <h3>
            AWH Clockwork Project !
        </h3>
    </nav>

    @RenderSection("index", required: false)
<div>
    @RenderBody()
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Caleb Sharp - AWH Clockwork Project</p>
    </footer>
</div>
</body>
</html>
